extends ./layout.jade

block head
  link(rel='stylesheet', href='/stylesheets/classic.css')

block content
  .content
    .menu
      .title
      .timer
      .mode
    .game
      .number
      .actions
        .plus-one
        .divide
        .sub-one