extends ./layout.jade

block head
  link(rel='stylesheet', href='/stylesheets/classic.css')
  script(src='/jquery/dist/jquery.min.js')
  script(src='/javascript/classic.js')

block content
  .menu
    .title Game of Three
    #timer 00:00
    .mode Classic
  .content
    .info
      .plus-one +1
      .number 
        #current
      .sub-one -1
    .actions
      #plus-one 
        div +1
      #divide 
        div Divide
      #sub-one 
        div -1
