extends ./layout.jade

block head
  link(rel='stylesheet', href='/stylesheets/mode.css')

block content
  .content
    .classic
        .title Classic
        .cta Play
        .description
          h3 Race the Clock!
          p Increase or Decrease your number by 1 to achieve a number divisible by Three.
    .zero-sum
        .title Zero Sum
        .cta Play
        .description
          h3 Accumulate Nothing!
          p Increase or decrease your number by 1 or 2 and try to make the changes add up to Zero.