extends ./layout.jade

block head
  link(rel='stylesheet', href='/stylesheets/start.css')

block content
  .content
    .title
      h1 Game of Three
    .play
      a.cta(href='/mode') Play
    .description
      p A game where you adjust a number so that it is divisible by Three.