extends ./layout.jade

block head
  link(rel='stylesheet', href='/stylesheets/victory.css')

block content
  .content
    .title
      h1 Game of Three
    .score
      .number
        h3=number
      .timer
        h2=time
      if errors !== 0
        .mistakes Mistakes: #{errors}
    .actions
      a.classic.cta(href='/classic') Classic
      a.zero-sum.cta Coming Soon