extends ./layout.jade

block head
  link(rel='stylesheet', href='/stylesheets/zero.css')
  script(src='/jquery/dist/jquery.min.js')
  script(src='/javascript/zero.js')

block content
  .menu
    .title Game of Three
    .timer 00:00
    .mode Classic
  .content
    .info
      .plus-one +1
      .number 
        #current 400
      .sub-one -1
    .actions
      #plus-one 
        div +1
      #divide 
        div Divide
      #sub-one 
        div -1
