$primary-color: #00bcd4;
$accent-color: #006064;
$highlight-color: #80deea;
$highlight-hover-cover: #18FFFF;
$fail-color: #B71C1C;

* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  color: $accent-color;;
}

html, body {
  background-color: $primary-color;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 5vw;
}

h3 {
  font-size: 3vw;
}

.cta {
  width: 200px;

  padding: 10px;
  line-height: 20px;
  font-size: 20px;
  border-radius: 25px;
  border: $accent-color solid 3px;
  text-align: center;
  background-color: $highlight-color;
  text-decoration: none;

  &:hover {
    background-color: $highlight-hover-cover;
  }
}
