@import 'core.scss';

.content {
  height: 100vh;

  display: flex;
  flex-direction: row;

  h1 {
    font-size: 5vw;
  }

  h3 {
    font-size: 2vw;
    padding: 20px;
  }

  & > div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

  }

  .classic, .zero-sum {
    align-items: center;
    
    & > div {
      flex-grow: 1;
    }
  }

  .classic {
    border-right: 5px $accent-color dashed;
    box-sizing: border-box;
  }

  .title, .play, .description {
    display:  flex;
    flex-direction: column;
    justify-content: center;
  }

  .description {
    align-items: center;
  }
}