@import 'core.scss';

.content {
  height: 100vh;

  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 2pvw;
  }

  .description {
    text-align: center;

    padding: 20px;
  }
}
