@import 'core.scss';

.content {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  & > div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  .classic {
    margin-right: 20px;
  }

  .score {
    flex-direction: column;
  }
}